<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Forum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 80px;
            height: 100%;
            overflow-y: auto;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            z-index: 999;
            transition: width 0.3s ease-in-out;
        }
        .expanded {
            width: 300px;
        }
        .filters-container, .login-container {
            display: none;
            margin-top: 20px;
        }
        .filters-container.show, .login-container.show {
            display: block;
        }
        .filters-container label, .login-container label {
            display: block;
            margin-bottom: 5px;
        }
        .filters-container select {
            width: 100%;
            margin-bottom: 10px;
        }
        .pagination {
            margin-top: 20px;
        }
        .pagination button {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="sidebar" id="sidebar">
    <div class="login-tab" id="loginButton" onclick="toggleLogin()">
        {% if current_user.is_authenticated %}
            {{ current_user.username }} | <button onclick="logout()">Logout</button>
        {% else %}
            Login
        {% endif %}
        </div>
    <div class="login-container" id="loginContainer">
        {% if current_user.is_authenticated %}
            
        {% else %}
            <h3>Login</h3>
            <form id="loginForm" method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        {% endif %}
    </div>

    
            
    <div class="filters-tab" id="filterButton" onclick="toggleFilters()">{% if current_user.is_authenticated %}Filters{% else %}{% endif %}</div>
    <div class="filters-container" id="filtersContainer">
        <h3>Filters</h3>
        <label for="exactWordLengthFilter">Word Length:</label>
    <select id="exactWordLengthFilter" onchange="updatePostsView()">
        <option value="all">All Word Lengths</option>
        <option value="1">1 character</option>
        <option value="2">2 characters</option>
        <option value="3">3 characters</option>
        <option value="4">4 characters</option>
        <option value="5">5 characters</option>
        <option value="6">6 characters</option>
        <option value="7">7 characters</option>
        <option value="8">8 characters</option>
        <option value="9">9 characters</option>
        <option value="10">10 characters</option>
        <option value="11">11 characters</option>
        <option value="12">12 characters</option>
        <option value="13+">More than 12 characters</option>
    </select>


    <select id="filterLanguage" onchange="updatePostsView()">
        <option value="all">All Languages</option>
        <option value="English">English</option>
        <option value="Chinese">Chinese</option>
        <option value="Russian">Russian</option>
        <option value="Filipino">Filipino</option>
        <option value="Japanese">Japanese</option>
    </select>

    <select id="sortOption" onchange="updatePostsView()">
        <option value="recent">Sort by Recent</option>
        <option value="clicks">Sort by Likes</option>
        <option value="random">Sort Randomly</option>
        <option value="wrongAttempts">Sort by Wrong Attempts</option>
    </select>

    <input type="text" id="searchInput" placeholder="Search by hint">
    <button onclick="searchPosts()">Search</button>

    <select id="itemsPerPage" onchange="updatePostsView()">
        <option value="10">10 items per page</option>
        <option value="20">20 items per page</option>
        <option value="50">50 items per page</option>
        <option value="100">100 items per page</option>
    </select>
    </div>
</div>



<div class="container mt-5" style="margin-left: 120px;">

    {% if current_user.is_authenticated %}
    <!-- Logged in User View -->

    <div class="mb-4">
        <a href="{{ url_for('leaderboard') }}" class="btn btn-primary">View Leaderboard</a>
    </div>
    <div class="mb-4">
        <a href="{{ url_for('create') }}" class="button">Create Posts!</a>
    </div>
    <h1>Guess or be guessed</h1>
    <p>Let others figure you out, or figure others out</p>
    
    <div>
        <input type="text" id="newPostContent" placeholder="Enter new post content">
        <input type="text" id="newPostHint" placeholder="Enter a hint">

        <div>
            <input type="file" id="photoUpload" multiple accept="image/*" onchange="uploadPhotos(event)" style="margin-bottom: 20px;">
            <button onclick="addPost()">Add Post</button>

            <div id="photoPreviewContainer" style="width: 100%; min-height: 100px; border: 1px solid #ccc; margin-top: 20px; padding: 10px;">
                <ul id="sortablePhotoList" style="list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap;"></ul>
            </div>
            <input type="file" id="photoUpload" multiple accept="image/*">
        </div>

        <select id="postLanguage">
            <option value="English">English</option>
            <option value="Chinese">Chinese</option>
            <option value="Russian">Russian</option>
            <option value="Filipino">Filipino</option>
            <option value="Japanese">Japanese</option>
        </select>
        <button onclick="addPost()">Add Post</button>
        <button onclick="addPostImageTest()">addPostImageTest</button>
    </div>
    
    <div class="tabs">
        <button class="tab-button" onclick="showTab('active')">Active Posts</button>
        <button class="tab-button" onclick="showTab('completed')">Completed Posts</button>
    </div>

    <div id="postsContainer">
        <h2>Active Posts</h2>
    </div>
    <div id="completedPostsContainer" style="display:none;">
        <h2>Completed Posts</h2>
    </div>

    <div class="pagination" id="pagination">
        <!-- Pagination buttons will be added here dynamically -->
    </div>

    {% else %}
    <!-- Unlogged in User View -->
        <div class="container mt-5">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <p>Please log in to view the forum.</p>
    {% endif %}
</div>



<script src="static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
function addPostImageTest() {
    let posts = JSON.parse(localStorage.getItem('posts')) || [];
const postId = posts.length + 1; // Calculate next post ID based on the array length
       // Retrieve the images associated with this post from sessionStorage
       const uploadedPhotos = JSON.parse(sessionStorage.getItem('uploadedPhotos')) || {};
    const photos = uploadedPhotos[postId] || []; // Retrieve photos using the postId

    $.post('/add_post', {user_id: 1, content: 'apple', hint: 'Como se dese la manzana in English?', language: 'es', images: photos});
}
</script>


</body>
</html>