<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Wordle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        #goodWordButton {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create a Wordle!</h2>
            {% if current_user.is_authenticated %}
            <p class="card-text">Hello, {{ current_user.username }}! Let's create a Wordle.</p>
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            <a href="{{ url_for('home') }}" class="btn btn-primary">Return Home</a>
            {% else %}
            <p class="card-text">Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to continue.</p>
            {% endif %}
            <button class="btn btn-success" id="generateWordButton">Generate Random Word</button>
            <div id="randomWordResult"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#generateWordButton').click(function() {
            $.ajax({url: '/generate_word', type: 'GET', success: function(response) {
                $('#randomWordResult').html("Random Word: " + response.word);
                $('#randomWordResult').append('<br><button id="goodWordButton" class="btn btn-primary">Like</button>');
            }});
        });
    
        $(document).on('click', '#goodWordButton', function() {
            alert("You liked the word!");
        });
    });
</script>
</body>
</html>
